.partner-icon {
  color: $agenixWhite;
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 1px;
  justify-items: stretch;
  align-items: stretch;
  height: 35px;
  max-width: 250px;
  .span-row-2{grid-row: span 2 / auto;}

  img {
    width: 35px;
    height: 35px
  }
  b {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
  }
  p {
    font-size: 12px;
    line-height: 14px;
  }
}
    
