@import "variables.scss";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
      url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
      url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('OpenSans'),
      url('../fonts/OpenSans.woff2') format('woff2'),
      url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: $agenixDarkGrey;
  color: $agenixWhite;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
  content: "";

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    @import "animations/page-animations.scss";

    .home {
      background:  linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8) ), url(../images/background.jpg) no-repeat center center fixed;
      position: absolute;
      left: 0;
      right: 0;
      min-height: 100vh;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      @import "home.scss";
      @import "contact.scss";
    }
  }
}
@import 'media.scss';
